<!--弹窗-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true" ng-click="cancel()">×</button>
    <h3 class="modal-title" ng-bind="'编辑图片，裁剪，添加文字'"></h3>
</div>
<div class="modal-body">
    <div class="portlet-body form">
        <div style="width:800px;margin:0 auto;">
            <!--<div ng-show-canvas="{ file: imgInfo,height: 500}"></div>-->
            <edit-img-direct img-info="imgInfo" img-size="imgSize" result-img="resultImg"></edit-img-direct>
        </div>
    </div>
</div>
<div class="modal-footer">
    <input class="btn btn-primary" type="button" value="确定" ng-click="ok()">
    <input class="btn default" type="button" value="取消" ng-click="cancel()">
</div>

