<!--编辑图片弹窗页面-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true" ng-click="cancel()">×</button>
    <h3 class="modal-title" ng-bind="'编辑图片，裁剪，添加文字'"></h3>
</div>
<div class="modal-body">
    <div class="portlet-body form">
        <div style="width:800px;margin:0 auto;">
            <edit-img-direct origin-image-info="originImageInfo" limit-img-size="limitImgSize" result-img="resultImg"></edit-img-direct>
        </div>
    </div>
</div>
<div class="modal-footer">
    <input class="btn btn-warning" type="button" value="取消操作图片" ng-click="uploadOriginImg()">
    <input class="btn btn-primary" type="button" value="确认操作图片" ng-click="handleImg()">
    <input class="btn default" type="button" value="取消" ng-click="cancel()">
</div>

