<!--页面上显示的画布-->
<style>
	.input-img{
		display: inline-block;
	}
	.input-img a{
		width: 121px;
		text-align: center;
		height: 50px;
		line-height: 30px;
		position: relative;
		cursor: default;
		overflow: hidden;
		display: inline-block;
	}
	.input-img a input[type=file]  {
		display: inline-block;
		width: 112px;
		height: 34px;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
	}
	.show-img{
		display: inline-table;
		position: relative;
		margin:10px;
	}
	.show-img button{
		position: absolute;
		margin-left: 200px;
	}
	.result-img>img{
		max-width: 500px;
		max-height: 300px;
	}
	.delete-image{
		width:24px;
		height: 24px;
		line-height: 24px;
		border:0px solid #dd0000;
		border-radius: 12px;
		background-color: #dd0000;
		text-align: center;
		color:#fff;
		font-size: 16px;
		font-weight:bold;
		cursor:pointer;
		position: absolute;
		left:95%;
	}
</style>

<div class="show-img" ng-repeat="item in canvasList track by $id(item)">
	<div class="input-img" ng-if="isShowAddButton">
		<a href="javascript:;"> <input type="file" class="btn btn-warning btn-s" file-change-model/>
			<span class="btn btn-success">选择图片</span>
		</a>
	</div>
	<button class="btn btn-primary" ng-if="item.showImage" ng-click="addCanvas($index)">添加</button>
	<div class="delete-image" ng-if="!isShowAddButton" ng-click="deleteImage(item,$index)">X</div>
	<!--未处理的照片-->
	<div ng-if="!item.resultImg">
		<ng-show-canvas image-file-info="item.image" trigger-fun="editImg(item.image)" upload-image-fun="uploadImageFun()" is-show-add-button="isShowAddButton"></ng-show-canvas>
	</div>
	<!--显示处理后的图片-->
	<div class="result-img">
		<img ng-if="item.resultImg" ng-src="{{item.resultImg}}" alt="显示处理后的图片">
	</div>
</div>
<div ng-if="isCanUploadOprate">
	<button class="btn btn-success" type="button"  data-ng-click="uploadAllImageFun()">提交图片</button>
</div>



